<div class="login-container" justify-content="center" align-items="center">


    <h2>Login to Your Account-Employee</h2>
    <oj-form-layout>
        <oj-input-text id="empid" label-hint="Employee ID" required value="{{empid}}"></oj-input-text>
        <oj-input-text id="username" label-hint="Username" required value="{{username}}"> </oj-input-text>
        <oj-input-password id="password" label-hint="Password" required value="{{password}}"></oj-input-password>
        <oj-button id="loginButton" on-oj-action="[[login]]">Login</oj-button>
    </oj-form-layout>
</div>