
<oj-button chroming="solid" on-oj-action="[[logout]]" style="background-color:#6A0DAD;color:white;font-weight:bold;">
  Logout
</oj-button>


<oj-dialog id="logoutDialog" dialog-title="Confirm Logout" modality="modal">
    <div slot="body" class="custom-dialog-box">
        Are you sure you want to logout?
    </div>
    <div slot="footer">
        <oj-button id="confirmLogoutButton" on-oj-action="[[confirmLogout]]">Yes</oj-button>
        <oj-button id="cancelLogoutButton" on-oj-action="[[cancelLogout]]">No</oj-button>
    </div>
</oj-dialog>
<oj-dialog id="loggedOutDialog" dialog-title="Logged Out" modality="modal">
<div class="logout-container" justify-content="center" align-items="center">
    <h2>You have been logged out.</h2>
    <!-- <oj-button chroming="solid" on-oj-action="[[goToLogin]]"
        style="background-color:#6A0DAD;color:white;font-weight:bold;">
        Login Again
    </oj-button> -->
</div>
</oj-dialog>
